# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Docker
.dockerignore
docker-compose.yaml
docker-compose.override.yaml

# Git
.git
.gitignore

# OS Metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Project specific
*.log
*.db